---
---

@import "minima";

/* Coolors Exported Palette - coolors.co/564787-f2f2e6-3685b5-0471a6-061826 */

/* HSL */
$color1: hsla(254%, 31%, 40%, 1);
$color2: hsla(60%, 32%, 93%, 1);
$color3: hsla(203%, 54%, 46%, 1);
$color4: hsla(200%, 95%, 33%, 1);
$color5: hsla(206%, 73%, 9%, 1);

/* RGB */
$color1: rgba(86, 71, 135, 1);
$color2: rgba(242, 242, 230, 1);
$color3: rgba(54, 133, 181, 1);
$color4: rgba(4, 113, 166, 1);
$color5: rgba(6, 24, 38, 1);
body {
    background-color: $color4;
}

div.wrapper {
    background-color: $color2;
    border: $color5 2px solid;
}


h1 {
    color: $color1;
}
